/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'KMER_ORD_PROJECT' {
        // ext.args = {"--tiara --dr umap"}
        // ext.args = {"--tiara --dr umap,tsne,trimap,pacmap,localmap,pca,sparse_pca,lle"} // do not use kernel_pca because unlike ordinary PCA, Kernel PCA computes an N × N kernel matrix, where N = number of samples. For nearly one million reads, you should not run Kernel PCA because it will request TERABYTES of RAM
        publishDir = [
            path: { "${params.outdir}/kmer_ord_project/${meta.id}/k${meta.kmer}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'KMER_ORD_CLUSTER' {
        publishDir = [
            path: { "${params.outdir}/kmer_ord_cluster/${meta.id}/k${meta.kmer}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'KMER_ORD_INJECT' {
        publishDir = [
            path: { "${params.outdir}/kmer_ord_inject/${meta.id}/k${meta.kmer}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'KMER_ORD_VISUALISE' {
        publishDir = [
            path: { "${params.outdir}/kmer_ord_visualise/${meta.id}/k${meta.kmer}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
